name: Docker Image CI

on:
  push:
    branches: [ "main", "shiksha-saas" ]
  pull_request:
    branches: [ "main", "shiksha-saas" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.BUILD_AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.BUILD_AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.BUILD_AWS_REGION }}

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build Docker image
      id: build-image
      run: |
        IMAGE_TAG="${GITHUB_REF_NAME}-${GITHUB_RUN_NUMBER}"
        docker build . --file Dockerfile --tag ${{ secrets.BUILD_ECR_REGISTRY }}/${{ secrets.BUILD_ECR_REPOSITORY }}:$IMAGE_TAG

    - name: Push Docker image to ECR
      run: |
        IMAGE_TAG="${GITHUB_REF_NAME}-${GITHUB_RUN_NUMBER}"
        docker push ${{ secrets.BUILD_ECR_REGISTRY }}/${{ secrets.BUILD_ECR_REPOSITORY }}:$IMAGE_TAG
